# OUR stuff folders

hands
#     masks
#     rotates
#     points
#     ellipses
pickles
# !pickles/scores
figures
# tests
dist_map
aio.py


# Video keeping
*xml
index_*

# Python files
__pycache__

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
yarn-error.log
testem.log
/typings

# System Files
.DS_Store
Thumbs.db
